version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: weather_db_container
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123  # 开发环境简单点，上线记得改
      POSTGRES_DB: weather_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: